version: "3.9"

services:
  db:
    container_name: veritas_db
    image: mysql:8.0
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: VERITAS
      MYSQL_DATABASE: VERITASdb
      MYSQL_USER: VERITAS
      MYSQL_PASSWORD: VERITAS
    ports:
 
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  db_data:
    driver: local
