.app-header {
  background: var(--color-veritas-dark-green);
  color: var(--color-veritas-light);
  padding: 0.75rem 1rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: start;
  justify-content: space-between;
}

.app-header__content {
  text-align:left;
}

.app-header__title {
  font-size: clamp(0.5rem, 1vw + 0.75rem, 1rem);
  letter-spacing: 0.05rem;
  margin: 0;
  text-transform: uppercase;
}

.app-header__subtitle {
  display: block;
  font-size: 0.85rem;
  font-weight: 500;
  color: var(--color-veritas-textColor);
  margin-top: 0.15rem;
}

.loader {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: 1.2rem;
  position: relative;
  background: #fff;
  box-shadow: -24px 0 #fff, 24px 0 #fff;
  box-sizing: border-box;
  animation: shadowPulse 1s linear infinite;
}

@keyframes shadowPulse {
  33% {
    background: var(--color-veritas-light);
    box-shadow: -24px 0 var(--color-veritas-dark-green),
      24px 0 var(--color-veritas-light);
  }
  66% {
    background: var(--color-veritas-dark-green);
    box-shadow: -24px 0 var(--color-veritas-light),
      24px 0 var(--color-veritas-light);
  }
  100% {
    background: var(--color-veritas-light);
    box-shadow: -24px 0 var(--color-veritas-light),
      24px 0 var(--color-veritas-dark-green);
  }
}
