@import "tailwindcss";

@theme {
  --color-veritas-backgroundColor: #02141b;
  --color-veritas-textColor: #dfbe8b;
  --color-veritas-light: #f3d7ab;
  --color-veritas-dark: #d4af78;
  --color-veritas-dark-green: #1c2c32;
  --breakpoint-xs: 30rem;
  --breakpoint-2xl: 110rem;
  --breakpoint-3xl: 200rem;
}




@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  background-color: var(--color-veritas-backgroundColor);
}

.draggable {
  top: auto !important;
  left: auto !important;
}

.text-overflow-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
